
/*--------------------------------------- banniere---------------------------------------- */

.banner {
   height: 500px;
   background-size: cover;
   background-position: center;
   position: relative;
   border-radius: 20px 20px;
   
}

.banner-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
   text-align: center;
   z-index: 1;
   border: solid;
}

.banner-content h1 {
   font-size: 48px;
   margin: 0;
}

.banner-content p {
   color: white;
   font-size: 24px;
   margin: 10px 0 0;
}

/* box animation */
.box{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 900px;
   height: 400px;
   
   box-sizing: border-box;
   overflow: hidden;
   box-shadow: 0 20px 50px rgb(147, 73, 177);
   border: 2px solid #500303;
   color: rgb(99, 44, 44);
   padding: 20px;
 }
 
 .box:before{
   content: '';
   position:absolute;
   top:0;
   left:-100%;
   width:100%;
   height:100%;
   background: rgba(119, 7, 119, 0.1);
   transition:0.5s;
   pointer-events: none;
 }
 
 .box:hover:before{
   left:-50%;
   transform: skewX(-5deg);
 }
 .box .content{
   position:absolute;
   top:15px;
   left:15px;
   right:15px;
   bottom:15px;
   border:1px solid #3c024b;
   padding:20px;
   text-align:center;
   box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
   
 }

 .box .content h1 {
   color: white;
   margin-top: 100px;
 }
 
 .box span{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: block;
   box-sizing: border-box;
   
 }
 
 .box span:nth-child(1)
 {
   transform:rotate(0deg);
 }
 

 .box span:nth-child(3)
 {
   transform:rotate(180deg);
 }
 
 .box span:before
 {
   content: '';
   position: absolute;
   width:100%;
   height: 4px;
   background: #c04ab0;
   animation: animate 4s linear infinite;
 }
 
 @keyframes animate {
   0% {
   transform:scaleX(0);
   transform-origin: left;
   }
   50%
   {
     transform:scaleX(1);
   transform-origin: left;
   }
   50.1%
   {
     transform:scaleX(1);
   transform-origin: right;
     
   }
   
   100%
   {
     transform:scaleX(0);
   transform-origin: right;
     
   }
   
   
 } 




/*-------------------- section 2--------------------------- */


.section2 {
   display: flex;
   justify-content: space-between;
   width: 90%;
   margin: auto;
   /* background-color: white; */
   background-image: url(/Assets/image/zzzz.png);
   
   background-repeat: no-repeat;
   background-size: contain;
   border-radius: 20px;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
   overflow: hidden;
}

.section2-photo,
.section2-lien {
   width: 100%;
   padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.section2-photo{
width: 100%;
}

.section2-lien {
   display: flex;
   gap: 70px;
}

/* Photos en cascade */
.photo {
   width: 100%;
   max-width: 400px;
   border-radius: 50px;
   box-shadow: 0 4px 8px rgba(0, 7, 5, 0.2);
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   margin-left: 200px;

}
/* Superposition des images */
.cascade {
   margin-top: -50px;
   margin-left: 0px;
   z-index: auto;
}

.cascade2 {
   margin-top: -50px;
   margin-left: -200px;
   z-index: auto;
}


.photo:hover {
   transform: translateY(-10px);
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.link-item {
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 100%;
   max-width: 900px;
   padding: 25px;
   margin: 15px 0;
   box-shadow: 0 0 45px 15px rgba(254, 253, 255, 0.5); 
   background: linear-gradient(135deg, #d7a1ec, #5f2377);
   border-radius: 50px 50px;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.link-item a {
   font-size: 180%;

}

.link-item:hover {
   transform: translateY(-5px);
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.link-text {
   font-size: 18px;
   color: #fffbfb;
   text-decoration: none;
   transition: color 0.3s ease;
   text-align: center;
}

.link-text:hover {
   color: #e9c5ee;
}

.stronglink {
   color: rgb(36, 27, 161);
   font-size: 100%;
}





/*--------------------------------- section en intro-------------------- */

.intro-section {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 40px 20px;
   
   

}

.intro-box {
   background: linear-gradient(135deg, #5f2377, #c58edb);
   padding: 40px;
   border-radius: 15px;
   box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
   text-align: center;
   max-width: 600px;
   position: relative;
   overflow: hidden;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   box-shadow: 0 0 45px 15px rgba(254, 253, 255, 0.5); 

}

.intro-box:hover {
   transform: translateY(-5px);
   box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.intro-icon {
   font-size: 60px;
   color: #fff;
   margin-bottom: 15px;
   background-color: #8a138a;
   padding: 15px;
   border-radius: 50%;
   animation: pulse 2s infinite;
}

@keyframes pulse {
   0%,
   100% {
      transform: scale(1);
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
   }
   50% {
      transform: scale(1.1);
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
   }
}

h2 {
   color: #fff;
   font-size: 28px;
   margin-bottom: 15px;
   text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

p {
   color: #f5f5f5;
   line-height: 1.6;
}

.ensavoir-btn {
   display: inline-block;
   margin-top: 20px;
   padding: 10px 20px;
   background-color: #fff;
   color: #030003;
   text-decoration: none;
   border-radius: 25px;
   font-weight: bold;
   transition: background-color 0.3s, transform 0.3s;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.ensavoir-btn:hover {
   background-color: #8a138a;
   color: #fff;
   transform: translateY(-3px);
}



/* -------------------------------section3  ----------------------------*/


.section3 {
   display: grid;
   background-image: url(/Assets/image/fond1.png);
   
   background-size: contain;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
   justify-items: center;
   align-items: center;
   width: 100%;
  
   
   padding: 20px;
   grid-auto-rows: 1fr
}

.section3-article {
   background-color: rgb(250, 247, 249);
   background: linear-gradient(135deg, #a16cb6, #f1f3f7);
   padding: 20px;
   border-radius: 50px;
   max-width: 650px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   text-align: center;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   margin: 10px;
   width: 100%;
}

.section3-article:hover {
   transform: translateY(-10px);
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.section3-article img {
   width: 100%;
   max-width: 500px;
   height: auto;
   border-radius: 50px;
   margin-bottom: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   transition: box-shadow 0.3s ease;
}

.section3-article img:hover {
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.section3-article h2 {
   font-size: 24px;
   margin: 0;
   color: #0c0000;
}

.section3-article p {
   color: #666;
   font-size: 16px;
}



@media (max-width:768px) {
   .section3 {
      grid-template-columns: repeat(1, 1fr);

      gap: 20px;
      background-size: cover;
      padding: 10px;
   }

   .section3-article {
      grid-template-columns: 1fr; 
      max-width: 100%;
      padding: 15px;
      border-radius: 30px; 
   }

   .section3-article img {
      max-width: 100%;
      height: auto;
      border-radius: 20px;
   }

   .section3-article h2 {
      font-size: 20px; /* Adapter la taille de police */
   }

   .section3-article p {
      font-size: 14px; /* Adapter la taille de police */
   }

   .section2 {
      flex-direction: column;
      align-items: center;
   }
.section2-lien{
   flex-direction: column;
      align-items: center;
}
.box{
   width: 450px;
   height: 200px;
}

.section2-photo{
   
      margin-top: 0px;
      margin-left: 0px;
      z-index: auto;
}

.photo {
   width: 200px;
}

.banner .box{

      margin-top: 40px;
}

.content h1{
   font-size: large;
   position:absolute;
   top:-45px;
   left:15px;
   right:15px;
  
}

.content p {
   display: none;
}
}