* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0 20px;
}

header, section {
    margin-bottom: 100px;
}

#scrollToTopBtn {
    position: fixed;          /* Position fixe pour rester visible en bas à droite */
    bottom: 20px;             /* Distance depuis le bas de la fenêtre */
    right: 20px;              /* Distance depuis la droite de la fenêtre */
    background-color: #333;   /* Couleur de fond */
    color: #fff;              /* Couleur du texte */
    border: none;             /* Pas de bordure */
    border-radius: 50%;       /* Bordure arrondie pour ressembler à un bouton circulaire */
    width: 50px;              /* Largeur du bouton */
    height: 50px;             /* Hauteur du bouton */
    font-size: 24px;          /* Taille de la flèche */
    cursor: pointer;          /* Curseur en forme de main */
    display: none;            /* Masquer par défaut */
    z-index: 100;             /* Mettre au-dessus des autres éléments */
    transition: opacity 0.3s; /* Transition douce lors de l'affichage ou du masquage */
}

#scrollToTopBtn:hover {
    background-color: #555;   /* Couleur légèrement plus claire au survol */
}
